In [1]:
!pip show pandas

Name: pandas
Version: 1.1.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: /Users/luciapetersen/opt/anaconda3/lib/python3.8/site-packages
Requires: python-dateutil, numpy, pytz
Required-by: statsmodels, seaborn, pyreadstat

In [2]:
import pandas as pd
location='https://github.com/luciampetersen/PUBPOL542/blob/main/'
fileXLSX=location+'SeattleIncomeByZipCode.xlsx?raw=true'
dataExcel=pd.read_excel(fileXLSX)

In [3]:
dataExcel

,ZIPCODE,Number of returns,Adjusted gross income (AGI),Avg AGI,Number of returns with total income,Total income amount,Avg total income,Number of returns with taxable income,Taxable income amount,Avg taxable income
0,98101,7890,1074214,136.148796,7890,1091183,138.299493,6990,885630,126.699571
1,98102,15880,1505673,94.815680,15880,1528784,96.271033,14560,1242039,85.304876
2,98103,28150,2404789,85.427673,28150,2446479,86.908668,25220,1904388,75.511023
3,98104,6580,649157,98.656079,6580,657964,99.994529,5230,516414,98.740727
4,98105,15400,1671227,108.521234,15400,1702944,110.580779,12580,1361397,108.219157
5,98106,12500,625969,50.077520,12500,633983,50.718640,10060,423605,42.107853
6,98107,14480,1121112,77.424862,14480,1142114,78.875276,13120,881219,67.166082
7,98108,11780,589150,50.012733,11780,597337,50.707725,9020,396333,43.939357
8,98109,15300,1665311,108.843856,15300,1691553,110.559020,14070,1397936,99.355792
9,98110,11310,1497096,132.369231,11310,1536640,135.865606,9580,1189627,124.178184
10,98112,12130,2457229,202.574526,12130,2494387,205.637840,10760,2123444,197.346097
11,98115,25370,2555944,100.746709,25370,2603493,102.620930,22380,2025368,90.499017
12,98116,13660,1343838,98.377599,13660,1368752,100.201464,12200,1059549,86.848279
13,98117,17560,1649825,93.953588,17560,1682383,95.807688,15570,1277640,82.057803
14,98118,22620,1288385,56.957781,22620,1308232,57.835190,17620,892061,50.627753
15,98119,12450,1388828,111.552450,12450,1414982,113.653173,11220,1143046,101.875758
16,98121,8760,1122043,128.087100,8760,1136022,129.682877,8030,942636,117.389290
17,98122,19510,1507284,77.256996,19510,1532494,78.549154,16960,1199747,70.739800
18,98125,20000,1287964,64.398200,20000,1308373,65.418650,16710,943159,56.442789
19,98126,10950,776766,70.937534,10950,788367,71.996986,9230,576835,62.495666
20,98133,24090,1326569,55.067206,24090,1346687,55.902325,20030,919953,45.928757
21,98134,590,73259,124.167797,590,76088,128.962712,440,64692,147.027273
22,98136,8460,888119,104.978605,8460,905834,107.072577,7500,676300,90.173333
23,98144,15060,1153662,76.604382,15060,1174841,78.010691,12460,882866,70.856019
24,98146,13060,756469,57.922588,13060,765830,58.639357,10380,514357,49.552698
25,98148,5010,237768,47.458683,5010,240016,47.907385,3960,152204,38.435354
26,98155,17450,1283164,73.533754,17450,1304827,74.775186,14630,946434,64.691319
27,98164,110,22155,201.409091,110,22657,205.972727,110,18320,166.545455
28,98166,10810,852043,78.819889,10810,865892,80.101018,8910,626867,70.355443
29,98168,17030,717565,42.135349,17030,724011,42.513858,13100,432762,33.035267
30,98177,10270,1234383,120.193087,10270,1261431,122.826777,8810,967539,109.822815
31,98178,12100,617552,51.037355,12100,623491,51.528182,9560,404177,42.277929
32,98188,12430,543411,43.717699,12430,549295,44.191070,9530,339209,35.593809
33,98198,17700,936120,52.888136,17700,945120,53.396610,14110,615572,43.626648
34,98199,11030,1442483,130.778151,11030,1472026,133.456573,9830,1180060,120.046796

In [4]:
dataExcel=dataExcel.copy() # recreating DFTest
some=['ZIPCODE']

In [5]:
dict(zip(dataExcel.columns[1::], some))

{'Number of returns': 'ZIPCODE'}

In [8]:
DF=dataExcel

In [9]:
DFTest=DF.copy()

In [11]:
del DF['Adjusted gross income (AGI)']

In [12]:
del DF['Number of returns with total income']

In [13]:
del DF['Total income amount']

In [14]:
del DF['Avg total income']

In [15]:
del DF['Number of returns with taxable income']

In [17]:
del DF ['Taxable income amount']

In [18]:
del DF ['Avg taxable income']

In [19]:
DF

    ZIPCODE  Number of returns     Avg AGI
0     98101               7890  136.148796
1     98102              15880   94.815680
2     98103              28150   85.427673
3     98104               6580   98.656079
4     98105              15400  108.521234
5     98106              12500   50.077520
6     98107              14480   77.424862
7     98108              11780   50.012733
8     98109              15300  108.843856
9     98110              11310  132.369231
10    98112              12130  202.574526
11    98115              25370  100.746709
12    98116              13660   98.377599
13    98117              17560   93.953588
14    98118              22620   56.957781
15    98119              12450  111.552450
16    98121               8760  128.087100
17    98122              19510   77.256996
18    98125              20000   64.398200
19    98126              10950   70.937534
20    98133              24090   55.067206
21    98134                590  124.167797
22    98136               8460  104.978605
23    98144              15060   76.604382
24    98146              13060   57.922588
25    98148               5010   47.458683
26    98155              17450   73.533754
27    98164                110  201.409091
28    98166              10810   78.819889
29    98168              17030   42.135349
30    98177              10270  120.193087
31    98178              12100   51.037355
32    98188              12430   43.717699
33    98198              17700   52.888136
34    98199              11030  130.778151

In [23]:
DF.columns=['zipcode','number_of_returns','avg_adjusted_gross_income']

In [24]:
DF

    zipcode  number_of_returns  avg_adjusted_gross_income
0     98101               7890                 136.148796
1     98102              15880                  94.815680
2     98103              28150                  85.427673
3     98104               6580                  98.656079
4     98105              15400                 108.521234
5     98106              12500                  50.077520
6     98107              14480                  77.424862
7     98108              11780                  50.012733
8     98109              15300                 108.843856
9     98110              11310                 132.369231
10    98112              12130                 202.574526
11    98115              25370                 100.746709
12    98116              13660                  98.377599
13    98117              17560                  93.953588
14    98118              22620                  56.957781
15    98119              12450                 111.552450
16    98121               8760                 128.087100
17    98122              19510                  77.256996
18    98125              20000                  64.398200
19    98126              10950                  70.937534
20    98133              24090                  55.067206
21    98134                590                 124.167797
22    98136               8460                 104.978605
23    98144              15060                  76.604382
24    98146              13060                  57.922588
25    98148               5010                  47.458683
26    98155              17450                  73.533754
27    98164                110                 201.409091
28    98166              10810                  78.819889
29    98168              17030                  42.135349
30    98177              10270                 120.193087
31    98178              12100                  51.037355
32    98188              12430                  43.717699
33    98198              17700                  52.888136
34    98199              11030                 130.778151

In [25]:
DF.columns=['zipcode','number_of_returns','avg_AGI']

In [26]:
DF

    zipcode  number_of_returns     avg_AGI
0     98101               7890  136.148796
1     98102              15880   94.815680
2     98103              28150   85.427673
3     98104               6580   98.656079
4     98105              15400  108.521234
5     98106              12500   50.077520
6     98107              14480   77.424862
7     98108              11780   50.012733
8     98109              15300  108.843856
9     98110              11310  132.369231
10    98112              12130  202.574526
11    98115              25370  100.746709
12    98116              13660   98.377599
13    98117              17560   93.953588
14    98118              22620   56.957781
15    98119              12450  111.552450
16    98121               8760  128.087100
17    98122              19510   77.256996
18    98125              20000   64.398200
19    98126              10950   70.937534
20    98133              24090   55.067206
21    98134                590  124.167797
22    98136               8460  104.978605
23    98144              15060   76.604382
24    98146              13060   57.922588
25    98148               5010   47.458683
26    98155              17450   73.533754
27    98164                110  201.409091
28    98166              10810   78.819889
29    98168              17030   42.135349
30    98177              10270  120.193087
31    98178              12100   51.037355
32    98188              12430   43.717699
33    98198              17700   52.888136
34    98199              11030  130.778151

In [28]:
DF.to_excel(r'Desktop\CleanedSeattleIncomeByZip.xlsx', index = False)

In [29]:
DF.to_excel(r'/Users/luciapetersen/Desktop/CleanedSeattleIncomeByZip2013.xlsx', sheet_name='Sheet1', index = False)